section{
    text-align: center;
    color:hsl(0, 0%, 10%);
}

h1{
    font-size: 3em;
    text-decoration: underline;
}

h2{
    font-size: 3em;
    color:hsl(0, 0%, 0%);
}

button{
    background-color: hsl(240, 100%, 45%);
    color: hsl(0, 0%, 100%);
    font-size: 2em;

    margin: 5px;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
}

button:hover{
    background-color: hsl(240, 100%, 55%);
    cursor: pointer;
}

